.message
{
    border-bottom: 1px solid lightblue;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

    margin-bottom: 5px;
    margin-top: 5px;
    background-color: azure;
    color: rgb(21, 0, 70);
}

.debugmessage
{
    border-bottom: 1px solid grey;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

    margin-bottom: 5px;
    margin-top: 5px;
    background-color: lightgray;
    color: rgb(63, 63, 63);
}

#inputBox
{
    border: 1px solid rgb(255, 213, 99);
    
    margin-bottom: 5px;
    margin-top: 5px;

    padding: 5px;
    background-color: blanchedalmond;
}
#input
{
    width: calc(100% - 282px);
}

#btn
{
    width: 120px;
}

#inputname
{
    width: 150px;
}

.hash
{
    color: lightblue;
}

.date
{
    color: lightblue;
}

.name
{
    font-weight: bold;
}